<div class="menu-sidebar-content js-scrollbar1 category-menu">
  <nav class="navbar-sidebar category-nav" aria-label="Kategori Menüsü">
    <ul class="list-unstyled navbar-list category-list">
      <li *ngFor="let tempProductCategory of productCategories">
        <a
          routerLink="/category/{{ tempProductCategory.id }}"
          routerLinkActive="active-link"
          class="category-link"
        >
          <span class="cat-icon" aria-hidden="true"></span>
          <span>{{ tempProductCategory.categoryName }}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
