<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup!" (ngSubmit)="onSubmit()" class="checkout-form">
        <div formGroupName="customer" class="form-area">
          <h3 class="form-title">Müşteri</h3>
          <div class="row">
            <div class="col-md-2">
              <label>İsim</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text">

                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="firstName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
                    İsim gereklidir.
                  </div>

                  <div *ngIf="firstName?.errors?.['minlength']">
                    Adınız en az 2 karakter uzunluğunda olmalıdır.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Soyisim</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text">

                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="lastName?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
                    Soyisim gereklidir.
                  </div>

                  <div *ngIf="lastName?.errors?.['minlength']">
                    Soyisminiz en az 2 karakter uzunluğunda olmalıdır.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Email</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">

                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="email?.errors?.['required'] || firstName?.errors?.['notOnlyWhitespace']">
                    E-posta gereklidir.
                  </div>

                  <div *ngIf="email?.errors?.['pattern']">
                    E-posta geçerli bir e-posta adresi formatında olmalıdır.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- shipping Address -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3 class="form-title">Gönderi Adresi</h3>
          <div class="row">
            <div class="col-md-2">
              <label>Ülke</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('shippingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name}}
                  </option>
                </select>

                <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || shippingAddressCountry?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCountry?.errors?.['required']">
                    Ülke gereklidir.
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Sokak</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">


                <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || shippingAddressStreet?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressStreet?.errors?.['required'] || shippingAddressStreet?.errors?.['notOnlyWhitespace']">
                    Sokak gereklidir.
                  </div>

                  <div *ngIf="shippingAddressStreet?.errors?.['minlength']">
                    Sokak adı en az 2 karakter uzunluğunda olmalıdır.
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Cadde</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">

                <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || shippingAddressCity?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCity?.errors?.['required'] || shippingAddressCity?.errors?.['notOnlyWhitespace']">
                    Cadde gereklidir.
                  </div>

                  <div *ngIf="shippingAddressCity?.errors?.['minlength']">
                    Cadde adı en az 2 karakter uzunluğunda olmalıdır.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Eyalet/İl</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                    {{ state.name }}
                  </option>
                </select>

                <div *ngIf="shippingAddressState?.invalid && (shippingAddressState?.dirty || shippingAddressState?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressState?.errors?.['required']">
                    Eyalet/İl gereklidir.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Posta Kodu</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">

                <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || shippingAddressZipCode?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressZipCode?.errors?.['required'] || shippingAddressZipCode?.errors?.['notOnlyWhitespace']">
                    Posta Kodu gereklidir.
                  </div>

                  <div *ngIf="shippingAddressZipCode?.errors?.['minlength']">
                    Posta kodu en az 2 karakter uzunluğunda olmalıdır.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
            <span class="au-checkmark"></span> Fatura adresi teslimat adresi ile aynı
          </label>
        </div>

        <!-- Billing Address -->
        <div formGroupName="billingAddress" class="form-area">
          <h3 class="form-title">Fatura Adresi</h3>
          <div class="row">
            <div class="col-md-2">
              <label>Ülke</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('billingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name}}
                  </option>
                </select>

                <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || billingAddressCountry?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCountry?.errors?.['required']">
                    Ülke gereklidir.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Sokak</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">

                <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || billingAddressStreet?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressStreet?.errors?.['required'] || billingAddressStreet?.errors?.['notOnlyWhitespace']">
                    Sokak gereklidir.
                  </div>

                  <div *ngIf="billingAddressStreet?.errors?.['minlength']">
                    Sokak adı en az 2 karakter uzunluğunda olmalıdır.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Şehir</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">
                <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || billingAddressCity?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCity?.errors?.['required'] || billingAddressCity?.errors?.['notOnlyWhitespace']">
                    Şehir gereklidir.
                  </div>

                  <div *ngIf="billingAddressCity?.errors?.['minlength']">
                    Şehir adı en az 2 karakter uzunluğunda olmalıdır.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Eyalet/İl</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                    {{ state.name }}
                  </option>
                </select>

                <div *ngIf="billingAddressState?.invalid && (billingAddressState?.dirty || billingAddressState?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressState?.errors?.['required']">
                    Eyalet/İl gereklidir.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Posta Kodu</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">
                <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || billingAddressZipCode?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressZipCode?.errors?.['required'] || billingAddressZipCode?.errors?.['notOnlyWhitespace']">
                    Posta Kodu gereklidir.
                  </div>

                  <div *ngIf="billingAddressZipCode?.errors?.['minlength']">
                    Posta kodu en az 2 karakter uzunluğunda olmalıdır.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Credit Card -->
        <div formGroupName="creditCard" class="form-area">
          <h3 class="form-title">Kredi Kartı</h3>
          <div class="row">
            <div class="col-md-2">
              <label>Kart Tipi</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>Mastercard</option>
                </select>

                <div *ngIf="creditCardType?.invalid && (creditCardType?.dirty || creditCardType?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardType?.errors?.['required']">
                    Kredi kartı tipi gereklidir.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label>Kartın Üstündeki İsim</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text">

                <div *ngIf="creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || creditCardNameOnCard?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardNameOnCard?.errors?.['required'] || creditCardNameOnCard?.errors?.['notOnlyWhitespace']">
                    İsim gereklidir.
                  </div>

                  <div *ngIf="creditCardNameOnCard?.errors?.['minlength']">
                    İsim en az 2 karakter uzunluğunda olmalıdır.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Kart Numarası</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text">
                <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || creditCardNumber?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardNumber?.errors?.['required'] || creditCardNumber?.errors?.['notOnlyWhitespace']">
                    Kart numarası gereklidir.
                  </div>

                  <div *ngIf="creditCardNumber?.errors?.['minlength']">
                    Kart numarası 16 haneli olmalıdır.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>CVV</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text">
                <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || creditCardSecurityCode?.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardSecurityCode?.errors?.['required'] || creditCardSecurityCode?.errors?.['notOnlyWhitespace']">
                    CVV gereklidir.
                  </div>

                  <div *ngIf="creditCardSecurityCode?.errors?.['minlength']">
                    CVV 3 haneli olmalıdır.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Son Kullanma Tarihi (Ay)</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let month of creditCardMonths">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Son Kullanma Tarihi (Yıl)</label>
            </div>

            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-area">
          <h3 class="form-title">Siparişinizi Gözden Geçirin</h3>

          <p>Toplam Miktar: {{ totalQuantity }}</p>
          <p>Kargo: Ücretsiz</p>
          <p>Toplam Fiyat: {{ totalPrice | currency: 'TL' }}</p>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-info checkout-submit">Satın Al</button>
        </div>
      </form>
    </div>
  </div>
</div>
